<!DOCTYPE html>
<html>
<head>
  <title>Dummy</title>
  <%= stylesheet_link_tag 'onix_metagem', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'onix_metagem', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="teste">
    <i class="fa fa-cog"></i>
  </div>
</body>
</html>
