@font-face {
    font-family: 'AvenirLT-Medium';
    src:asset-url('2B97F0_0_0.eot');
    src:asset-url('2B97F0_0_0.eot?#iefix') format('embedded-opentype'),
        asset-url('2B97F0_0_0.woff') format('woff'),
        asset-url('2B97F0_0_0.ttf') format('truetype');
}
@font-face {
    font-family: 'AvenirLTStd-Heavy';
    src:asset-url('2B97F0_1_0.eot');
    src:asset-url('2B97F0_1_0.eot?#iefix') format('embedded-opentype'),
        asset-url('2B97F0_1_0.woff') format('woff'),
        asset-url('2B97F0_1_0.ttf') format('truetype');
}
@font-face {
    font-family: 'AvenirLTStd-Light';
    src:asset-url('2B97F0_2_0.eot');
    src:asset-url('2B97F0_2_0.eot?#iefix') format('embedded-opentype'),
        asset-url('2B97F0_2_0.woff') format('woff'),
        asset-url('2B97F0_2_0.ttf') format('truetype');
}
